body {
  margin: 0;

  font-family: 'Fredericka the Great', 'playfair display',
 'Roboto', 'monospace';
    background: linear-gradient(89deg, #0f0c29, #302b63, #24243e  100%);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  cursor: pointer;
}
